// BILLBOARD

.home {
  @include background-2x( 'images/home-background-sm', 'jpg', 100%, 620px, topcenter center, no-repeat );
  @include media-breakpoint-up(md) {
    @include background-2x( 'images/home-background-md', 'jpg', 100%, 688px, topcenter center, no-repeat ); 
  }
  @include media-breakpoint-up(lg) {
    @include background-2x( 'images/home-background-lg', 'jpg', 100%, 550px, topcenter center, no-repeat ); 
  }

  #billboard {
    position: relative;
    align-items: center;
    height: rem-calc(405);
    @include make-container();
    @include make-container-max-widths;
    padding-top: rem-calc(25);
    @include media-breakpoint-up(md) {
      height: rem-calc(560);
      padding-top: rem-calc(35);
    }
    @include media-breakpoint-up(lg) {
      display: flex;
      height: rem-calc(420);
      padding-top: 0;
    }
    &> div {
      &:first-child {
        @include media-breakpoint-up(md) {
          @include make-col(12);
        }
        @include media-breakpoint-up(lg) {
          @include make-col(6);
        }
        img {
          position: absolute;
          bottom: 0;
          width: 120%;
          left: 50%;
          transform: translateX(-50%);
          @include media-breakpoint-up(md) {
            max-width: 100%;
          }
          @include media-breakpoint-up(lg) {
            left: 260px;
            max-width: 70%;
          }
        }
      }
      &:last-child {
        text-align: center;
        padding-left: rem-calc(10);;
        padding-right: rem-calc(10);
        @include media-breakpoint-up(md) {
          @include make-col(8);
          @include make-col-offset(2);
        }
        @include media-breakpoint-up(lg) {
          @include make-col(6);
          @include make-col-offset(0);
          padding-left: 0;
          margin-bottom: rem-calc(20);
          padding-right: 0;
        }
      }
    }
      
      .headline {
        text-transform: none;
        color: $red;
        font-family: $cera-bold;
        @include fontSize(22px);
        @include media-breakpoint-up(sm) {
          @include fontSize(28px);
          margin-bottom: rem-calc(45);
        }
        @include media-breakpoint-up(lg) {
          padding-right: rem-calc(20);
        }
        line-height: 1.3;
        margin-bottom: rem-calc(30);
      } 
  }
}

body:not(.home) {
  @include background-2x( 'images/sub-background-sm', 'jpg', 100%, 180px, topcenter center, no-repeat );
  @include media-breakpoint-up(sm) {
    @include background-2x( 'images/sub-background-sm', 'jpg', 100%, 280px, topcenter center, no-repeat );
  }
  @include media-breakpoint-up(md) {
    @include background-2x( 'images/home-background-md', 'jpg', 100%, 688px, topcenter center, no-repeat ); 
  }
  @include media-breakpoint-up(lg) {
    @include background-2x( 'images/home-background-lg', 'jpg', 100%, 550px, topcenter center, no-repeat ); 
  }

  header {
    min-height: 180px;
    @include media-breakpoint-up(md) {
      min-height: 260px;
    }
  }

  #billboard {
    position: relative;
    @include make-container();
    @include make-container-max-widths;

    // Blocks
    &.blocks {
      img {
        position: absolute;
        right: rem-calc(-5);
        bottom: rem-calc(-5);
        @include media-breakpoint-up(sm) {
          right: rem-calc(-25);
          bottom: rem-calc(15);
        }
        @include media-breakpoint-up(md) {
          bottom: rem-calc(-10);
        }
        @include media-breakpoint-up(lg) {
          bottom: rem-calc(-25);
        }
      }
    }
    
    // Train Small
    &.train-small {
      img {
        position: absolute;
        right: rem-calc(15);
        bottom: rem-calc(10);
        @include media-breakpoint-up(sm) {
          right: rem-calc(-15);
          bottom: rem-calc(20);
        }
        @include media-breakpoint-up(md) {
          bottom: rem-calc(10);
        }
        @include media-breakpoint-up(lg) {
          bottom: rem-calc(1);
        }
      }
    }

    // Blocks Game
    &.blocks-game {
      img {
        position: absolute;
        right: 45%;
        transform: translateX(45%);
        bottom: rem-calc(-5);
        @include media-breakpoint-up(sm) {
          transform: translateX(0);
          right: rem-calc(-45);
          bottom: rem-calc(10);
        }
        @include media-breakpoint-up(md) {
          bottom: rem-calc(-10);
        }
        @include media-breakpoint-up(lg) {
          right: rem-calc(-55);
          bottom: rem-calc(-40);
        }
      }
    }

    // Toy One
    &.toy-one {
      img {
        position: absolute;
        right: rem-calc(35);
        bottom: rem-calc(-50);
        @include media-breakpoint-up(sm) {
          transform: translateX(0);
          right: rem-calc(15);
          bottom: rem-calc(-45);
        }
        @include media-breakpoint-up(md) {
          bottom: rem-calc(-140);
          right: rem-calc(20);
        }
        @include media-breakpoint-up(lg) {
          right: rem-calc(100);
        }
      }
    }

    // Toy Three
    &.toy-three {
      img {
        position: absolute;
        right: rem-calc(5);
        bottom: rem-calc(-25);
        @include media-breakpoint-up(sm) {
          transform: translateX(0);
          right: rem-calc(15);
          bottom: rem-calc(-15);
        }
        @include media-breakpoint-up(md) {
          bottom: rem-calc(-50);
          right: rem-calc(-10);
        }
        @include media-breakpoint-up(lg) {
          bottom: rem-calc(-95);
          //right: rem-calc(100);
        }
      }
    }

  }
}




