// BOXED HEADER

.boxed-header {
  &.dark {
    background: $medium-gray;
    .content {
      color: $white;
      padding-top: rem-calc(15);
      padding-bottom: rem-calc(15);
    }
  }
  &.white {
    background: $white;
    .content {
      color: $primary;
      padding-top: rem-calc(35);
      padding-bottom: rem-calc(35);
    }
  }
  .content {
    max-width: 100%!important;
    @include fontSize(20px);
    font-weight: $font-weight-bold;
    line-height: $line-height-base;
    text-align: center;
    margin-bottom: 0;
  }
  &.mid {
    background: #D8D7D7;
    .content {
      color: #5A5A5A;
      padding-top: rem-calc(15);
      padding-bottom: rem-calc(15);
    }
  }
}