// CERAPRO

@font-face {
  font-family: 'CeraPro-Regular';
  font-display: auto;
  src: url('../fonts/cera/CeraPro-Regular.eot');
  src: url('../fonts/cera/CeraPro-Regular.eot#iefix') format('embedded-opentype'),
       url('../fonts/cera/CeraPro-Regular.woff2') format('woff2'),
       url('../fonts/cera/CeraPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CeraPro-RegularItalic';
  font-display: auto;
  src: url('../fonts/cera/CeraPro-RegularItalic.eot');
  src: url('../fonts/cera/CeraPro-RegularItalic#iefix') format('embedded-opentype'),
       url('../fonts/cera/CeraPro-RegularItalic.woff2') format('woff2'),
       url('../fonts/cera/CeraPro-RegularItalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CeraPro-Medium';
  font-display: auto;
  src: url('../fonts/cera/CeraPro-Medium.eot');
  src: url('../fonts/cera/CeraPro-Medium#iefix') format('embedded-opentype'),
       url('../fonts/cera/CeraPro-Medium.woff2') format('woff2'),
       url('../fonts/cera/CeraPro-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CeraPro-Bold';
  font-display: auto;
  src: url('../fonts/cera/CeraPro-Bold.eot');
  src: url('../fonts/cera/CeraPro-Bold#iefix') format('embedded-opentype'),
       url('../fonts/cera/CeraPro-Bold.woff2') format('woff2'),
       url('../fonts/cera/CeraPro-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CeraPro-Black';
  font-display: auto;
  src: url('../fonts/cera/CeraPro-Black.eot');
  src: url('../fonts/cera/CeraPro-Black#iefix') format('embedded-opentype'),
       url('../fonts/cera/CeraPro-Black.woff2') format('woff2'),
       url('../fonts/cera/CeraPro-Black.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
