// NAV ICON

.menu-toggle {
  @include media-breakpoint-up(lg) {
    display: none;
  }
  background: transparent;
  border: 0;
  width: 30px;
  height: 27px;
  position: absolute;
  top: rem-calc(67);
  @include media-breakpoint-up(sm) {
    top: rem-calc(78);
  }
  right: 15px;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
  span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: $body-color;
    border-radius: 5px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
    &:nth-child(1) {
      top: 0px;
    }
    &:nth-child(2) {
      top: 8px;
    }
    &:nth-child(3) {
      top: 16px;
    }
    &:nth-child(4) {
      top: 24px;
    }
  } 
  &.up {
    span {
      &:nth-child(1) {
        top: 18px;
        width: 0%;
        left: 50%;
      }
      &:nth-child(2) {
        top: 11px;
        transform: rotate(45deg);
      }
      &:nth-child(3) {
        top: 11px;
        transform: rotate(-45deg);
      }
      &:nth-child(4) {
        top: 18px;
        width: 0%;
        left: 50%;
      }
    }
    &+ #menu-container {
      display: block;
      position: absolute;
      z-index: $zindex-mobilemenu;
      @include media-breakpoint-up(lg) {
        position: relative;
      }
    }
  } 
}



