// TYPOGRAPHY

// H1
.entry-content {
  h1 {
    @include fontSize(32px);
    @include media-breakpoint-up(md) {
      @include fontSize(44px);
    }
    font-family: $cera-black;
    color: $red;
    text-transform: uppercase;
    margin-bottom: rem-calc(20);
    line-height: 1.1;
    span {
      display: block;
      font-size: 65%;
      font-family: $cera;
    }
    &+ p {
      margin-top: rem-calc(15);
      @include media-breakpoint-up(sm) {
        margin-top: rem-calc(30);
      }
    }
  }

  h2 {
    color: $orange;
    @include fontSize(20px);
    font-weight: $font-weight-normal;
    line-height: 1.3;
    margin-bottom: rem-calc(15);
    @include media-breakpoint-up(md) {
      @include fontSize(23px);
    }
    &.spacing {
      margin-bottom: rem-calc(20);
      @include media-breakpoint-up(md) {
        margin-bottom: rem-calc(45);
      }
    }
    &.spacing-top {
      margin-top: rem-calc(25);
      @include media-breakpoint-up(sm) {
        margin-top: rem-calc(45);
      }
    }
  }

  p + h2 {
    margin-top: rem-calc(25);
    @include media-breakpoint-up(sm) {
      margin-top: rem-calc(45);
    }
  }

  h3, .h3 {
    color: $primary;
    font-weight: $font-weight-bold;
  }

}

// List heading 
.list-heading {
  font-weight: $font-weight-bold;
  margin-bottom: rem-calc(10);
}

// Bullets
ul.bullets {
  margin-bottom: rem-calc(25);
  list-style: outside none none;
  margin-left: 0;
  padding-left: 0;
  li {
    background: url("images/bullet.svg") no-repeat scroll;
    background-position: 0 rem-calc(7);
    background-size: 7px 11px;
    padding-left: rem-calc(15);
    margin-bottom: rem-calc(15);
    ul {
      list-style: outside none none;
      margin-left: 0;
      padding-left: 0;
      li {
        background: url("images/sub-bullet.svg") no-repeat scroll;
        background-position: 0 rem-calc(11);
        background-size: 8px 2px;
        margin-bottom: 0;
      }
    }
  }
  &.columns {
    margin-bottom: 0;
    @include media-breakpoint-up(md) {
      padding-right: rem-calc(65);
    }
  }
}

// UL COLORED CHECKBOXES
ul.color-checkboxes {
  list-style: outside none none;
  margin-left: 0;
  @include media-breakpoint-up(sm) {
    margin-left: rem-calc(15);
  }
  margin-bottom: rem-calc(25);
  @include media-breakpoint-up(md) {
    margin-left: rem-calc(25);
  }
  padding-left: 0;
  li {
    min-height: rem-calc(30);
    padding-top: rem-calc(3);
    padding-left: rem-calc(45);
    margin-bottom: rem-calc(10); 
    &:first-child {
      background: url("images/red-checkmark.svg") no-repeat scroll;
      background-size: 30px 30px;
    }
    &:nth-child(2) {
      background: url("images/yellow-checkmark.svg") no-repeat scroll;
      background-size: 30px 30px;
    }
    &:last-child {
      background: url("images/lightblue-checkmark.svg") no-repeat scroll;
      background-size: 30px 30px;
    }
  }
}

// UL COLORED CHECKBOXES - diagnostic-journey
.page-id-29 {
  ul.color-checkboxes {
    margin-top: rem-calc(25);
    margin-bottom: rem-calc(25);
    @include media-breakpoint-up(sm) {
      margin-top: rem-calc(40);
      margin-bottom: rem-calc(40);
    }
    li {
      p:first-child {
        margin-bottom: rem-calc(10);
      }
    }
  }
}

.spellout {
  @include fontSize(12px);
}

.disclaimer {
  @include fontSize(12px);
  font-style: italic;
}




